<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no" />
<meta name="format-detection" content="telephone=no"/>
<title>朋友太多的烦恼</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.zebra.css">

<script data-main="__PUBLIC__/lib/app.document" src="__PUBLIC__/lib/loader/require.js"></script>
    <style>
        #bingxiang_1{left:166px;top:312px;}
        #bingxiang_2{left:148px;top:300px;}
        #bingxiang_3{left:148px;top:300px;}
        #bingxiang_4{left:79px;top:300px;}
        #dise{left:15px;top:644px;}
        #dixiawenzi{left:85px;top:864px;}
        #wenzi_1{left:90px;top:59px;}
        #wenzi_2{left:90px;top:59px;}
        #wenzi_3{left:90px;top:59px;}
        #daxiang{left:154px;top: 434px;}

        #page2_anniu{left:130px;top:801px;}
        #houdongshuoming{left:155px;top:933px;}
        #shouji{left:187px;top:251px;}
        #wenzi{left:90px;top:27px;}
        #zhongjiangmingdan{left:352px;top:933px;}
        #guanbi{left:578px;top: 35px;}
        #gundongtiao{left:592px;top: 121px;}
        #houdongguizhi{left:44px;top:0px;}
        /* 滚动条滑块 */
        #div_hdgz::-webkit-scrollbar-thumb {border-radius: 10px;background:#3EB2FB;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
        #div_hdgz::-webkit-scrollbar-thumb:window-inactive {background: #3EB2FB;}
        /* 设置滚动条的样式 */
        #div_hdgz::-webkit-scrollbar {    width: 5px;}
        /* 滚动槽 */
        #div_hdgz::-webkit-scrollbar-track {    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    border-radius: 10px;}


        #mingdan{left:18px;top:131px}
        #x_2{left:506px;top:142px}

        #zjr div{ width: 360px;height: 57px;font-size: 30px; line-height: 58px; color: #ffffff;}
        .dhhm{margin-left: 80px;}

        /*page3*/
        .swiper-container{width: 640px;height: 825px;}
        .swiper-wrapper{width: 640px;height: 825px;padding-top: 45px;padding-left: 36px;padding-right: 36px;position: relative;}
        .swiper-wrapper .div_hbbg{margin-left: 23px;margin-top: 15px;float: left;}
        .div_hbbg img{height: 135px;}
        .swiper-pagination-bullet{width: 12px;height: 12px;background-color:#000000;opacity: 1 }
        .swiper-pagination-bullet-active{width: 12px;height: 12px;background-color:#ffffff ;border:1px solid #000000;}

        #icon_botton{left: 36px;top: 845px;}
        #paizhao{left:62px;top:109px}
        #shenghou{left:62px;top:109px}
        #tuoxun{left:62px;top:109px}

        #an_2{left:264px;top:238px}
        #an_3{left:112px;top:238px}
        #an_4{left:416px;top:236px}
        #an_14{left:264px;top:237px}
        #an_15{left:112px;top:238px}
        #an_16{left:416px;top:236px}
        #an_17{left:264px;top:237px}
        #an_18{left:111px;top:237px}
        #an_19{left:264px;top:401px}
        #an_20{left:111px;top:400px}

        #timu_gb{left:532px;top:249px}
        #xzts_gb{left:532px;top:249px}

        #xzts_aaa{left:41px;top:232px}
        #gongming{left:54px;top:236px}
        #mingwangxin{left:54px;top:236px}
        #xiaojianren{left:53px;top:238px}
        #xzts_yan{left:41px;top:230px}

        /*计时*/
        #page_js{left: 180px;top:0px;z-index: 99999}

        /*page12*/
        #shouji_12{left: 125px; top: 0px;}
        #zldnswz{left:98px;top: 782px;}
        #gqzx{left: 264px;top:242px;}
        #gqb1{left:242px;top:220px;}
        #gqb2{left:242px;top:220px;}

        #gqzx_2{left: 178px;top:270px;}
        #gqb1_2{left:158px;top:250px;}
        #gqb2_2{left:158px;top:250px;}

        #shouji_bj{left: 180px;top: 82px;}
        #sj_mwx{left: 195px;top: 129px;}
        #sj_xjr{left: 195px;top: 129px;}

        #anniu_12_1{left:27px;top:785px}
        #anniu_12_2{left:328px;top:786px}
        #anniu_12_3{left:27px;top:890px}
        #anniu_12_4{left:329px;top:891px}
        #zhiling{left:24px;top:21px}

        #fxtp{left:143px;top:96px}

        #anniu_tj{left:132px;top:854px}
        #dianhua{left:55px;top:714px}
        #erweima{left:75px;top:63px}
        #lianxiren{left:55px;top:592px}

        #tjcg_daxiang{left: 39px;top:227px;}
        #tjcg_xxx{left: 540px;top: 237px;}


    </style>
</head>
<body >
    <div role="app-content" class="pull-air noscroll fullContainer" style="width:100vw;height:100vh">
         <div class="pull-air"    id="pageBg" >
             <img src="__PUBLIC__/images/bingxiang/beijing.jpg" class="fullContainer" />
         </div>
         <img src="__PUBLIC__/images/bingxiang/dise.png" class="pull-air hide" id="dise"/>
<!----------------------page1---------------------------->
         <div class="pull-air hide" id="page1">

             <img src="__PUBLIC__/images/bingxiang/dixiawenzi.png" class="pull-air hide" id="dixiawenzi"/>

             <div class="pull-air">
                <img src="__PUBLIC__/images/bingxiang/wenzi.png" class="pull-air hide" id="wenzi_1"/>
                <img src="__PUBLIC__/images/bingxiang/wenzi_2.png" class="pull-air hide" id="wenzi_2"/>
                <img src="__PUBLIC__/images/bingxiang/wenzi_3.png" class="pull-air hide" id="wenzi_3"/>
             </div>
             <div class="pull-air">
                 <img src="__PUBLIC__/images/bingxiang/bingxiang_1.png" class="pull-air hide" id="bingxiang_1"/>
                 <img src="__PUBLIC__/images/bingxiang/bingxiang_2.png" class="pull-air hide" id="bingxiang_2"/>
                 <img src="__PUBLIC__/images/bingxiang/daxiang.png" class="pull-air hide" id="daxiang"/>
                 <img src="__PUBLIC__/images/bingxiang/bingxiang_4.png" class="pull-air hide" id="bingxiang_4"/>
             </div>
         </div>
<!----------------------page2---------------------------->
         <div class="pull-air hide" id="page2">
             <img src="__PUBLIC__/images/zhaohaoyou/wenzi.png" class="pull-air" id="wenzi"/>
             <img src="__PUBLIC__/images/zhaohaoyou/shouji.png" class="pull-air" id="shouji"/>
             <img src="__PUBLIC__/images/zhaohaoyou/anniu_1.png" class="pull-air" id="page2_anniu"/>
             <img src="__PUBLIC__/images/zhaohaoyou/houdongshuoming.png" class="pull-air" id="houdongshuoming"/>
             <img src="__PUBLIC__/images/zhaohaoyou/zhongjiangmingdan.png" class="pull-air" id="zhongjiangmingdan"/>
             <div class="pull-air bgBlackOpacity-8 hide" id="hdgz">
                 <img src="__PUBLIC__/images/houdonguizhe/gundongtiao.png" class="pull-air" id="gundongtiao"/>
                 <img src="__PUBLIC__/images/houdonguizhe/guanbi.png" class="pull-air" id="guanbi"/>
                 <div class="pull-air" style="width: 598px; height: 818px;top:122px;overflow: auto" id="div_hdgz">
                     <img src="__PUBLIC__/images/houdonguizhe/houdongguizhe.png" class="pull-air" id="houdongguizhi"/>
                 </div>
             </div>
             <div class="pull-air bgBlackOpacity-8 hide" id="zjmd">
                 <img src="__PUBLIC__/images/zhongjiangmingdan/mingdan.png" class="pull-air" id="mingdan"/>
                 <img src="__PUBLIC__/images/zhongjiangmingdan/x_2.png" class="pull-air" id="x_2"/>
                 <div class="pull-air" style="width: 360px;height: 350px;left: 170px;top: 260px;">
                    <div style="position: relative;" id="zjr">
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                        <div>
                            <span>张XX</span>
                            <span class="dhhm">15151975505</span>
                        </div>
                    </div>
                 </div>
             </div>

         </div>
<!----------------------page3---------------------------->
         <div class="pull-air hide" id="page_js">
             <img src="__PUBLIC__/images/jiemian/jishi.png" class="pull-air"/>
             <div class="pull-air" style="left: 120px;font-size: 33px;top: 10px;" id="jsq">
                00:00:00
             </div>
         </div>
         <div class="pull-air hide" id="page3">
             <!--<img src="__PUBLIC__/images/" class="pull-air" id=""/>-->

             <div class="swiper-container pull-air">

                 <div class="swiper-wrapper">

                     <div class="swiper-slide">

                     </div>

                     <div class="swiper-slide">

                     </div>

                     <div class="swiper-slide">

                     </div>

                 </div>
                 <!-- 如果需要分页器 -->
                 <div class="swiper-pagination"></div>

                 <!-- 如果需要导航按钮 -->
                 <!--<div class="swiper-button-prev"></div>-->
                 <!--<div class="swiper-button-next"></div>-->

                 <!--&lt;!&ndash; 如果需要滚动条 &ndash;&gt;-->
                 <!--<div class="swiper-scrollbar"></div>-->
             </div>
            <div class="pull-air hide" id="icon_botton">
                <img src="__PUBLIC__/images/guding/anniu.png"/>
            </div>
            <!---------------------icon----------------------->
             <div class="div_hbbg hide" id="icon_1">
                 <img src="__PUBLIC__/images/diyimu/anniu_1.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_2">
                 <img src="__PUBLIC__/images/diyimu/anniu_2.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_3">
                 <img src="__PUBLIC__/images/diyimu/anniu_3.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_4">
                 <img src="__PUBLIC__/images/diyimu/anniu_4.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_5">
                 <img src="__PUBLIC__/images/diyimu/anniu_5.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_6">
                 <img src="__PUBLIC__/images/diyimu/anniu_6.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_7">
                 <img src="__PUBLIC__/images/diyimu/anniu_7.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_8">
                 <img src="__PUBLIC__/images/diyimu/anniu_8.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_9">
                 <img src="__PUBLIC__/images/diyimu/anniu_9.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_10">
                 <img src="__PUBLIC__/images/diyimu/anniu_10.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_11">
                 <img src="__PUBLIC__/images/diermu/anjian_1.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_12">
                 <img src="__PUBLIC__/images/diermu/anjian_2.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_13">
                 <img src="__PUBLIC__/images/diermu/anjian_3.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_14">
                 <img src="__PUBLIC__/images/diermu/anjian_4.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_15">
                 <img src="__PUBLIC__/images/diermu/anjian_5.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_16">
                 <img src="__PUBLIC__/images/diermu/anjian_6.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_17">
                 <img src="__PUBLIC__/images/diermu/anjian_7.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_18">
                 <img src="__PUBLIC__/images/diermu/anjian_8.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_19">
                 <img src="__PUBLIC__/images/diermu/anjian_9.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_20">
                 <img src="__PUBLIC__/images/diermu/anjian_10.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_21">
                 <img src="__PUBLIC__/images/diermu/anjian_11.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_22">
                 <img src="__PUBLIC__/images/diermu/anjian_12.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_23">
                 <img src="__PUBLIC__/images/diermu/anjian_13.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_24">
                 <img src="__PUBLIC__/images/diermu/anjian_14.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_25">
                 <img src="__PUBLIC__/images/diermu/anjian_15.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_26">
                 <img src="__PUBLIC__/images/disanmu/an_1.png"/>
             </div>
             <!--<div class="div_hbbg hide" id="icon_27">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_2.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_29">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_3.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_30">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_4.png"/>-->
             <!--</div>-->
             <div class="div_hbbg hide" id="icon_31">
                 <img src="__PUBLIC__/images/disanmu/an_5.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_32">
                 <img src="__PUBLIC__/images/disanmu/an_6.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_33">
                 <img src="__PUBLIC__/images/disanmu/an_7.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_34">
                 <img src="__PUBLIC__/images/disanmu/an_8.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_35">
                 <img src="__PUBLIC__/images/disanmu/an_9.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_36">
                 <img src="__PUBLIC__/images/disanmu/an_10.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_37">
                 <img src="__PUBLIC__/images/disanmu/an_11.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_38">
                 <img src="__PUBLIC__/images/disanmu/an_12.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_39">
                 <img src="__PUBLIC__/images/disanmu/an_13.png"/>
             </div>
             <!--<div class="div_hbbg hide" id="icon_40">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_14.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_41">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_15.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_42">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_16.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_43">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_17.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_44">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_18.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_45">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_19.png"/>-->
             <!--</div>-->
             <!--<div class="div_hbbg hide" id="icon_46">-->
                 <!--<img src="__PUBLIC__/images/disanmu/an_20.png"/>-->
             <!--</div>-->
             <div class="div_hbbg hide" id="icon_47">
                 <img src="__PUBLIC__/images/disanmu/an_21.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_48">
                 <img src="__PUBLIC__/images/disanmu/an_22.png"/>
             </div>
             <div class="div_hbbg hide" id="icon_49">
                 <img src="__PUBLIC__/images/disanmu/an_23.png"/>
             </div>
             <!----------------弹出层关闭----------------->
             <div class="pull-air tkgb hide">

             </div>
             <div class="pull-air hide" id="div_paizhao">

                 <img src="__PUBLIC__/images/disanmu/paizhao.png" class="pull-air" id="paizhao"/>
                 <img src="__PUBLIC__/images/disanmu/an_2.png" class="pull-air" id="an_2"/>
                 <img src="__PUBLIC__/images/disanmu/an_3.png" class="pull-air" id="an_3"/>

             </div>
             <div class="pull-air hide" id="div_shenghou">

                 <img src="__PUBLIC__/images/disanmu/shenghou.png" class="pull-air" id="shenghou"/>
                 <img src="__PUBLIC__/images/disanmu/an_4.png" class="pull-air" id="an_4"/>
                 <img src="__PUBLIC__/images/disanmu/an_14.png" class="pull-air" id="an_14"/>
                 <img src="__PUBLIC__/images/disanmu/an_15.png" class="pull-air" id="an_15"/>
             </div>
             <div class="pull-air hide" id="div_tuoxun">

                 <img src="__PUBLIC__/images/disanmu/touxun.png" class="pull-air" id="tuoxun"/>
                 <img src="__PUBLIC__/images/disanmu/an_16.png" class="pull-air" id="an_16"/>
                 <img src="__PUBLIC__/images/disanmu/an_17.png" class="pull-air" id="an_17"/>
                 <img src="__PUBLIC__/images/disanmu/an_18.png" class="pull-air" id="an_18"/>
                 <img src="__PUBLIC__/images/disanmu/an_19.png" class="pull-air" id="an_19"/>
                 <img src="__PUBLIC__/images/disanmu/an_20.png" class="pull-air" id="an_20"/>
             </div>

             <div class="pull-air bgBlackOpacity-8 hide" id="timu" style="top: 0px;z-index: 9999">
                 <img src="__PUBLIC__/images/jiemian/xiaojianren.png" class="pull-air hide" id="xiaojianren"/>
                 <img src="__PUBLIC__/images/jiemian/gongming.png" class="pull-air hide" id="gongming"/>
                 <img src="__PUBLIC__/images/jiemian/mingwangxin.png" class="pull-air hide" id="mingwangxin"/>
                 <img src="__PUBLIC__/images/jiemian/xx.png" class="pull-air" id="timu_gb"/>

             </div>
            <div class="pull-air bgBlackOpacity-8 hide" id="xzts" style="top: 0px;z-index: 9999">
                <img src="__PUBLIC__/images/jiemian/aaa.png" class="pull-air hide" id="xzts_aaa"/>
                <img src="__PUBLIC__/images/jiemian/yan.png" class="pull-air hide" id="xzts_yan"/>
                <img src="__PUBLIC__/images/jiemian/xx.png" class="pull-air" id="xzts_gb"/>
            </div>
         </div>
<!---------------------------page12----------------------------------->
         <div class="pull-air hide" id="page112">
             <div class="pull-air" id="nr2">
             <img src="__PUBLIC__/images/9/zldnswz.png" class="pull-air" id="zldnswz"/>

                 <div class="pull-air">
                    <img src="__PUBLIC__/images/9/shouji_1.png" class="pull-air" id="shouji_12"/>
                     <div class="pull-air" id="bo1">
                        <img src="__PUBLIC__/images/9/gqb.png" class="pull-air" id="gqb1"/>
                        <img src="__PUBLIC__/images/9/gqb.png" class="pull-air" id="gqb2"/>
                        <img src="__PUBLIC__/images/9/gqzx.png" class="pull-air" id="gqzx"/>
                     </div>
                 </div>
                 <div class="pull-air">
                     <div class="pull-air" id="bo2">
                         <img src="__PUBLIC__/images/9/gqb.png" class="pull-air" id="gqb1_2"/>
                         <img src="__PUBLIC__/images/9/gqb.png" class="pull-air" id="gqb2_2"/>
                         <img src="__PUBLIC__/images/9/gqzx.png" class="pull-air" id="gqzx_2"/>
                     </div>
                     <img src="__PUBLIC__/images/9/shouji_bj.png" class="pull-air" id="shouji_bj"/>
                     <img src="__PUBLIC__/images/9/sj_mwx.png" class="pull-air" id="sj_mwx"/>
                     <img src="__PUBLIC__/images/9/sj_xjr.png" class="pull-air" id="sj_xjr"/>
                 </div>
                <div class="pull-air">
                    <img src="__PUBLIC__/images/9/zhiling.png" class="pull-air" id="zhiling"/>
                    <img src="__PUBLIC__/images/9/anniu_1.png" class="pull-air" id="anniu_12_1"/>
                    <img src="__PUBLIC__/images/9/anniu_2.png" class="pull-air" id="anniu_12_2"/>
                    <img src="__PUBLIC__/images/9/anniu_3.png" class="pull-air" id="anniu_12_3"/>
                    <img src="__PUBLIC__/images/9/anniu_4.png" class="pull-air" id="anniu_12_4"/>
                </div>
             </div>
             <div class="pull-air bgBlackOpacity-8 hide" id="fxtc">
                 <img src="__PUBLIC__/images/10/daxiang.png" class="pull-air" id="fxtp"/>
             </div>
             <div class="pull-air hide" id="tj">
                 <img src="__PUBLIC__/images/11/erweima.png" class="pull-air" id="erweima"/>
                 <img src="__PUBLIC__/images/11/lianxiren.png" class="pull-air" id="lianxiren"/>
                 <img src="__PUBLIC__/images/11/dianhua.png" class="pull-air" id="dianhua"/>
                 <input id="name" type="text" class="pull-air" style="border:0px; background-color:transparent ; color:#000;font-size:40px; width:450px; height:50px; left:82px; top:598px;">
                 <input id="tell" type="tel" class="pull-air" style="border:0px; background-color:transparent ; color:#000;font-size:40px; width:450px; height:50px; left:82px; top:720px;">

                 <img src="__PUBLIC__/images/11/anniu.png" class="pull-air" id="anniu_tj"/>
             </div>
             <div class="pull-air bgBlackOpacity-8 hide" id="tjcg">
                 <img src="__PUBLIC__/images/11/daxiang.png" class="pull-air" id="tjcg_daxiang"/>
                 <img src="__PUBLIC__/images/11/xxx.png" class="pull-air" id="tjcg_xxx"/>
             </div>
         </div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->

        <div class="pull-air pull-alpha-0 hide"  id="page10" >
            <div class="pull-air fullContainer" style="  background: #14524F" ></div>
            <img src="__PUBLIC__/images/mingwangxin/guang.png" class="pull-air" id="guang"   />
            <img src="__PUBLIC__/images/mingwangxin/ren.png" class="pull-air" id="ren"   />
            <img src="__PUBLIC__/images/mingwangxin/qiu.png" class="pull-air pull-alhpa-0" id="qiu"   />
        </div>


        <div class="pull-air pull-alpha-0 hide"  id="page11" >
            <img src="__PUBLIC__/images/5/shoushuo.png" class="pull-air" id="shoushuo"   />
            <img src="__PUBLIC__/images/5/tongxun.png" class="pull-air hide" id="tongxun"  />
            <!--<div class="pull-air autoscroll " style="top:216px;width: 100vw;height: 300px; background: darkred" id="addressUser">-->
            <!--<div class="pull-air"    >-->

            <!--<img src="__PUBLIC__/images/5/tongxun2.png" class="hide" id="tongxun2"  />-->
            <!--<div id="userlist" class="pull-air">-->
            <!--<img src="__PUBLIC__/images/5/users.jpg"  id="userlistimg"  />-->
            <!--<div class="pull-air" style="width:640px;height:95px;top:400px; background: darkred; opacity: 0.3" id="gmyf"></div>-->
            <!--<div class="pull-air" style="width:640px;height:95px;top:700px; background: darkred; opacity: 0.3" id="xjr"></div>-->
            <!--<div class="pull-air" style="width:640px;height:95px;top:1000px; background: darkred; opacity: 0.3" id="mwx"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


            <!-- content -->
            <div class="mCustomScrollbar content fluid light pull-air"  id="addressUser" data-mcs-theme="inset-2-dark" style="top:216px;width: 100vw;height: 300px;">
                <div    style="width: 640px;height:1934px; background: red"  id="addressUserC" >
                    <div class="pull-air"    >

                        <img src="__PUBLIC__/images/5/tongxun2.png" class="hide" id="tongxun2"  />
                        <div id="userlist" class="pull-air">
                            <img src="__PUBLIC__/images/5/users.jpg"  id="userlistimg"  />
                            <div class="pull-air" style="width:640px;height:95px;top:400px; background: darkred; opacity: 0.3" id="gmyf"></div>
                            <div class="pull-air" style="width:640px;height:95px;top:700px; background: darkred; opacity: 0.3" id="xjr"></div>
                            <div class="pull-air" style="width:640px;height:95px;top:1000px; background: darkred; opacity: 0.3" id="mwx"></div>
                        </div>
                    </div>

                </div>
            </div>








            <div style="position: fixed;bottom: 0;width:100vw;height:100px;background: #f8f8f8; border: 0px solid #000000;border-top-width: 3px">
                <img class="pull-air" src="__PUBLIC__/images/5/weixin.png" id="weixinBut" />
                <img class="pull-air" src="__PUBLIC__/images/5/qunmo.png" id="qunmoBut" />
                <img class="pull-air" src="__PUBLIC__/images/5/huhai.png" id="huhai" />
                <img class="pull-air" src="__PUBLIC__/images/5/wo.png" id="wo" />
            </div>

        </div>


     </div>
</body>

<script>
    //'icon_27','icon_28','icon_29','icon_30','icon_40',
    //'icon_41','icon_42','icon_43','icon_44','icon_45','icon_46',
    var icons=['icon_1','icon_2','icon_3','icon_4','icon_5','icon_6','icon_7','icon_8','icon_9','icon_10',
                'icon_11','icon_12','icon_13','icon_14','icon_15','icon_16','icon_17','icon_18','icon_19','icon_20',
                'icon_21','icon_22','icon_23','icon_24','icon_25','icon_26',
                'icon_31','icon_32','icon_33','icon_34','icon_35','icon_36','icon_37','icon_38','icon_39','icon_47','icon_48','icon_49'
                ];
  	function pageInitializes(){


//-------page2--------------
        app.setFullContainer($("#hdgz"));
        app.setFullContainer($("#zjmd"));
        app.setFullContainer($(".tkgb"));
        app.setFullContainer($("#timu"));
        app.setFullContainer($("#xzts"));
        app.setFullContainer($("#fxtc"));
        app.setFullContainer($("#tjcg"));

        //找ta试试
        $("#page2_anniu").click(function(){
            page2fadeOut();
        });
        //活动说明
        $("#houdongshuoming").click(function(){
            $("#hdgz").show();
        });
        //中奖名单
        $("#zhongjiangmingdan").click(function(){
            $("#zjmd").show();
        });
        //活动说明关闭
        $("#guanbi").click(function(){
            $("#hdgz").hide();
        });
        //中奖名单关闭
        $("#x_2").click(function(){
            $("#zjmd").hide();
        });
//--------page3-------------
        //page3fadeIn();

        //拍照
        $("#icon_47").click(function(){

            $(".swiper-container").hide();
            $(".tkgb").show();
            $("#div_paizhao").show();
        })
        //生活方式
        $("#icon_48").click(function(){

            $(".swiper-container").hide();
            $(".tkgb").show();
            $("#div_shenghou").show();
        })
        //通讯
        $("#icon_49").click(function(){

            $(".swiper-container").hide();
            $(".tkgb").show();
            $("#div_tuoxun").show();
        })
        $(".tkgb").click(function(){
            $(".swiper-container").show();
            //icon47fadeOut();
            $("#div_paizhao").hide();
            $("#div_tuoxun").hide();
            $("#div_shenghou").hide();
            $(".tkgb").hide();
        })
        //题目关闭点击
        $("#timu_gb").click(function(){
            $("#timu").hide();
            //计时开始
            $("#page_js").show();
            setInterval("second()",1000);
        })
        $("#xzts_gb").click(function(){
            $("#xzts").hide();
            $("#xzts_aaa").hide();
            $("#xzts_yan").hide();
        })

        //选错按钮点击事件
        $(".div_hbbg:not(#icon_11,#an_16,#icon_47,#icon_48,#icon_49)").click(function(){
            if(rd(0,1)==0){
                $("#xzts").show();
                $("#xzts_aaa").show();
            }else{
                $("#xzts").show();
                $("#xzts_yan").show();
            }
        })
        $("#an_2,#an_3,#an_4,#an_14,#an_15,#an_17,#an_18,#an_19,#an_20").click(function(){
            if(rd(0,1)==0){
                $("#xzts").show();
                $("#xzts_aaa").show();
            }else{
                $("#xzts").show();
                $("#xzts_yan").show();
            }
        })

        $("#icon_11,#an_16").click(function(){
            page3fadeOut();
            page10fadeIn();
        });

        //----------------page112---------------------------
        bo1();
        setInterval (bo1, 2000);

        setInterval (bo2, 2000);

        $("#anniu_12_1").click(function(){
            $.post( "{:U('Index/isexist')}" , {'openid':openid}, function(data) {
                if(data){
                    alert("你已经提交过资料信息！");
                }else{
                    $("#nr2").hide();
                    $("#tj").show();
                }
            })

        });
        $("#anniu_12_2").click(function(){
            $("#fxtc").show();
        });
        $("#anniu_12_3").click(function(){

        });
        $("#anniu_12_4").click(function(){

        });
        $("#fxtc").click(function(){
            $("#fxtc").hide();
        });


        //$("input:checked").css("background-color","#ffffff");
        //input：focus{background-color: #ffffff}
        //input：blur{background-color: transparent }
        $("input").focus(function(){
            $(this).css("background-color","#ffffff");
        });
        $("input").blur(function(){
            if($(this).val()==""){
                $(this).css("background-color","transparent");
            }
        });

        $("#anniu_tj").click(function(){
            var name=$("#name").val();
            var tell=$("#tell").val();
            if(name==""){
                alert("联系人不能为空！");
            }else if(tell==""){
                alert("电话不能为空！");
            }else if(tell.length!=11){
                alert("请输入11位的手机号！");
            }else{
                $.post( "{:U('Index/saveuser')}" , {'openid':openid,'name':name,'phone':tell}, function(data){
                    if(data){
                        $("#tjcg").show();
                    }else{
                        alert("提交失败！");
                    }
                    //alert(data);
                })
            }

        })
        $("#tjcg_xxx").click(function(){
            $("#tj").hide();
            $("#tjcg").hide();
            $("#nr2").show();
        });


        page10fadeIn();
	}





    function rd(n,m){
        var c = m-n+ 1;
        return Math.floor( Math.random() * c + n);
    }
//--------------page1----------------------
    function page1fadeIn(){
        page1ready();
        TweenMax.to($("#bingxiang_1"),1,{delay:0.5,alpha:1,y:0});
        TweenMax.to($("#dise"),1,{delay:0.8,alpha:1});
        TweenMax.to($("#dixiawenzi"),1,{delay:1.5,alpha:1});
        TweenMax.to($("#wenzi_1"),1.5,{delay:2,alpha:1});

        TweenMax.to($("#bingxiang_2"),1.5,{delay:3.5,alpha:1});

        TweenMax.to($("#wenzi_2"),1.5,{delay:5,alpha:1});

        TweenMax.to($("#daxiang"),1.5,{delay:6,alpha:1,z:0,ease: Back.easeIn.config(1.7)});

        TweenMax.to($("#wenzi_3"),1.5,{delay:8,alpha:1});
        TweenMax.to($("#bingxiang_2"),0.5,{delay:9.5,alpha:0});
        TweenMax.to($("#daxiang"),0.5,{delay:9.5,alpha:0,z:0});

        TweenMax.to($("#bingxiang_4"),1,{delay:9.5,alpha:1,onComplete:function(){
            setTimeout("page1fadeOut()",1500);
        }});

    }
    function page1ready(){
        $("#page1").show();
        TweenMax.set($("#page1"),{alpha:1,y:0});
        $("#dise").show();
        $("#dixiawenzi").show();

        $("#wenzi_1").show();
        $("#wenzi_2").show();
        $("#wenzi_3").show();
        $("#bingxiang_1").show();
        $("#bingxiang_2").show();
        $("#daxiang").show();
        $("#bingxiang_4").show();

        TweenMax.set($("#dise"),{alpha:0});
        TweenMax.set($("#dixiawenzi"),{alpha:0});

        TweenMax.set($("#wenzi_1"),{alpha:0});
        TweenMax.set($("#wenzi_2"),{alpha:0});
        TweenMax.set($("#wenzi_3"),{alpha:0});

        TweenMax.set($("#bingxiang_1"),{alpha:0,y:1008});
        TweenMax.set($("#bingxiang_2"),{alpha:0});
        TweenMax.set($("#daxiang"), {css:{transformPerspective:400}})
        TweenMax.set($("#daxiang"),{alpha:0,z:200});
        TweenMax.set($("#bingxiang_4"),{alpha:0});
    }
    function page1fadeOut(){
        TweenMax.to($("#page1"),1,{alpha:0,y:-1008,onComplete:function(){
            $("#page1").hide();
        }});
        page2fadeIn();
    }
//----------------page2-------------------
    function page2fadeIn(){
        page2ready();
        TweenMax.to($("#page2"),1,{delay:0.5,alpha:1,y:0});
    }
    function page2ready(){
        TweenMax.set($("#page2"),{alpha:0,y:1008});
        $("#page2").show();
    }
    function page2fadeOut(){
        TweenMax.to($("#page2"),1,{delay:0.5,alpha:0,y:-1008,onComplete:function(){
            $("#page2").hide();
        }});
        page3fadeIn();
    }
//---------page3-------------------------
    var timu;
    function page3fadeIn(){
        page3ready();
        timu=rd(1,3);
        if(timu==1){
            $("#xiaojianren").show();
        }else if(timu==2){
            $("#gongming").show();
        }else{
            $("#mingwangxin").show();
        }
        $("#timu").show();
        TweenMax.to($("#page3"),1,{alpha:1,y:0,delay:0.5});
    }
    function page3fadeOut(){
        TweenMax.to($("#page3"),1,{alpha:0,onComplete:function(){
            $("#page3").hide();
        }});
    }
    function page3ready(){
        TweenMax.set($("#page3"),{alpha:0,y:1008});
        icons.sort(function(){ return 0.5 - Math.random() })
        for(var i=0;i<icons.length;i++){
            var sjs=rd(0,2);
            var sl=$(".swiper-container").children(".swiper-wrapper").children(".swiper-slide").eq(sjs).children('.div_hbbg').length;
            if(sl<20){
                $(".swiper-container").children(".swiper-wrapper").children(".swiper-slide").eq(sjs).append($("#"+icons[i]));
                $("#"+icons[i]).show();
                $("#"+icons[i]).css("float","left");
            }else{
                i--;
            }

        }
        $("#icon_botton").show();
        $("#page3").show();

        var mySwiper = new Swiper ('.swiper-container', {
//            direction: 'vertical',
//            loop: true,

            // 如果需要分页器
            pagination: '.swiper-pagination',

            // 如果需要前进后退按钮
//            nextButton: '.swiper-button-next',
//            prevButton: '.swiper-button-prev',
            paginationBulletRender: function (index, className) {
//                return '<span class="' + className + '">' + (index + 1) + '</span>';
                return '<span class="' + className + '"></span>';
            }
            // 如果需要滚动条
            //scrollbar: '.swiper-scrollbar'
        })
    }
    function icon47fadeIn(){
        icon47ready();
        TweenMax.to($("#div_paizhao"),1,{z:0,alpha:1});
    }
    function icon47fadeOut(){
        TweenMax.to($("#div_paizhao"),1,{z:-300,alpha:0,onComplete:function(){
            $("#div_paizhao").hide();
        }});
    }
    function icon47ready(){
        $("#div_paizhao").show();

        TweenMax.set($("#div_paizhao"),{css:{transformPerspective:400}});
        TweenMax.set($("#div_paizhao"),{z:-300,alpha:0});
    }
    var se,m=0,h=0,s=1, t,time=1;

    function second(){

        if(s>0 && (s%60)==0){m+=1;s=0;}

        if(m>0 && (m%60)==0){h+=1;m=0;}
        if(h<10){
            t="0"+h;
        }else{
            t=""+h;
        }
        if(m<10){
            t=t+":0"+m;
        }else{
            t=t+":"+m;
        }
        if(s<10){
            t=t+":0"+s;
        }else{
            t=t+":"+s;
        }

        $("#jsq").html(t);   //这有一个给id为showtime的input赋值的语句，可以实现动态计时。

//其实所谓的动态计时，就是在很短的时间里不停给显示时间的地方更新数值，由于速度很快，这样计时器看起来时刻都在变化。但其实不是的，它从本质上还是静态的，这跟js的伪多线程原理是一样的。

        s+=1;
        time+=1;
    }
//---------page112-------------------------
    function page112fadeIn(){
        page112ready();
        TweenMax.to($("#zldnswz"),1.5,{alpha:1,y:0});
        TweenMax.to($("#shouji_12"),1.5,{alpha:1,x:0});
        TweenMax.to($("#bo1"),0.5,{alpha:1,delay:1.5});

        TweenMax.to($("#shouji_12"),1,{alpha:0,delay:3});
        TweenMax.to($("#shouji_bj"),1,{alpha:1,delay:3});
        TweenMax.to($("#sj_mwx"),1,{alpha:1,delay:3});
        TweenMax.to($("#bo2"),0.5,{alpha:1,delay:3.5});

        TweenMax.to($("#sj_xjr"),1,{alpha:1,delay:5});

        TweenMax.to($("#shouji_bj"),0.5,{alpha:0,delay:7});
        TweenMax.to($("#sj_mwx"),0.5,{alpha:0,delay:7});
        TweenMax.to($("#bo2"),0.5,{alpha:0,delay:7});
        TweenMax.to($("#sj_xjr"),0.5,{alpha:0,delay:7});

        TweenMax.to($("#zhiling"),1,{alpha:1,delay:7});
        TweenMax.to($("#zldnswz"),1,{alpha:1,y:-150,delay:7});
        TweenMax.to($("#anniu_12_1"),1,{alpha:1,delay:7,y:0});
        TweenMax.to($("#anniu_12_2"),1,{alpha:1,delay:7.2,y:0});
        TweenMax.to($("#anniu_12_3"),1,{alpha:1,delay:7.4,y:0});
        TweenMax.to($("#anniu_12_4"),1,{alpha:1,delay:7.6,y:0});

    }

    function page112ready(){
        //TweenMax.set($("#page112"),{alpha:0});


        TweenMax.set($("#zldnswz"),{alpha:0,y:100});
        TweenMax.set($("#shouji_12"),{alpha:0,x:300});

        TweenMax.set($("#bo1"),{alpha:0});
        TweenMax.set($("#bo2"),{alpha:0});

        TweenMax.set($("#shouji_bj"),{alpha:0});
        TweenMax.set($("#sj_mwx"),{alpha:0});
        TweenMax.set($("#sj_xjr"),{alpha:0});

        TweenMax.set($("#zhiling"),{alpha:0});
        TweenMax.set($("#anniu_12_1"),{alpha:0,y:1008});
        TweenMax.set($("#anniu_12_2"),{alpha:0,y:1008});
        TweenMax.set($("#anniu_12_3"),{alpha:0,y:1008});
        TweenMax.set($("#anniu_12_4"),{alpha:0,y:1008});

        $("#page112").show();
    }
    function page112fadeOut(){

    }
    function bo1(){
        TweenMax.to($("#gqzx"),1,{alpha:1});
        TweenMax.to($("#gqb1"),2,{scale:1.2,alpha:0,startAt:{scale:0,alpha:1}});
        TweenMax.to($("#gqb2"),2,{scale:1.2,alpha:0,startAt:{scale:0,alpha:1},delay:1});
    }
    function bo2(){
        TweenMax.to($("#gqzx_2"),1,{alpha:1});
        TweenMax.to($("#gqb1_2"),2,{scale:1.2,alpha:0,startAt:{scale:0,alpha:1}});
        TweenMax.to($("#gqb2_2"),2,{scale:1.2,alpha:0,startAt:{scale:0,alpha:1},delay:1});
    }
//-------------------------------------------------------------------------------------------------------------------------------------------
    function page10Ready(){
        $("#page10").show();
        TweenMax.set($("#ren"),{top:657});
        TweenMax.set($("#guang"),{top:173});
        TweenMax.set($("#qiu"),{left:79});
    }

    function page10fadeIn(){
        page10Ready();
        TweenMax.to($("#page10"),1,{alpha:1});
        TweenMax.to($("#qiu"),1,{top:173,delay:1,alpha:1,onComplete:page10fadeOut});
    }

    function page10fadeOut(){

        TweenMax.to($("#page10"),1,{alpha:0,delay:1});
        page11fadeIn()
    }

    function page11Ready(){

        $("#addressUser").height(  app.device.height-216-100);

        $("#addressUser").mCustomScrollbar();
        $("#pageBg").hide();
        $("#page11").show();
        TweenMax.set($("#weixinBut"),{x:52});
        TweenMax.set($("#qunmoBut"),{x:188});
        TweenMax.set($("#huhai"),{x:353});
        TweenMax.set($("#wo"),{x:518});


        $("#weixinBut").click(function(){
            if($("#weixinBut").attr("src")=="__PUBLIC__/images/5/weixin_2.png"){
                $("#qunmoBut").attr("src","__PUBLIC__/images/5/qunmo.png")
                $("#weixinBut").attr("src","__PUBLIC__/images/5/weixin.png")
                $("#shoushuo").show();
                $("#tongxun").hide();
                $("#tongxun2").hide();
                $("#addressUserC").height(1934)
                $("#addressUser").scrollTop(0);


            }
        })
        $("#qunmoBut").click(function(){
            if($("#qunmoBut").attr("src")=="__PUBLIC__/images/5/qunmo.png"){
                $("#qunmoBut").attr("src","__PUBLIC__/images/5/qunmo_2.png")
                $("#weixinBut").attr("src","__PUBLIC__/images/5/weixin_2.png")
                $("#shoushuo").hide();
                $("#tongxun").show();
                $("#tongxun2").show();

                $("#addressUserC").height(1934+400)
                $("#addressUser").scrollTop(0);
            }
        })
        $("#tongxun2").click(function(){
            $("#xc-mask").show()
        })
        $("#userlistimg").click(function(){
            $("#xc-mask").show()
        })
        $("#myCloseBut").click(function(){
            $("#xc-mask").hide()
        })

        $("#xjr").click(function(){
            if(timu==1){
                page11fadeOut()
            }else{
                $("#xc-mask").show()
            }
        })
        $("#gmyf").click(function(){
            if(timu==2){
                page11fadeOut()
            }else{
                $("#xc-mask").show()
            }
        })
        $("#mwx").click(function(){
            if(timu==3){
                page11fadeOut()
            }else{
                $("#xc-mask").show()
            }

        })

    }
    function page11fadeIn(){
        page11Ready();
        TweenMax.to($("#page10"),1,{alpha:1});
        TweenMax.to($("#page11"),1,{alpha:1,delay:1});
//        $("#addressUser").mCustomScrollbar({
//            theme:"minimal"
//        });
    }
    function page11fadeOut(){
        $("#page11").hide();
        page12fadeIn();
    }


</script>

</html>
